{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-8">
            {% for item in css %}
            <div class="card mb-3">
                <div class="card-header">
                    Категория: <a href="{{ css_item.category.get_absolute_url }}"> {{ item.category }}</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.cost }}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
